.square {
    height: 60px;
    width: 60px;
    border: solid 1px black;
}
.flexy {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hovered {
    background-color: black;
}